/* BUTTON */
.btnConfig{
    /* float: right; */
    width: 64px;
    height: 64px;
    border: none;
    background: none;
    background-image:url(/assets/settings1.png);
    background-size: cover;
}
.btnConfig:hover {
    background-image: url(/assets/settings0.png);
}
.btnConfig:active {
    animation: configBtn .09s 1;
    background-image:url(/assets/settings3.png);
}

@keyframes configBtn {
    0%{background-image: url(/assets/settings1.png);}
    30%{background-image: url(/assets/settings1.png);}
    31%{background-image: url(/assets/settings2.png);}
    49%{background-image: url(/assets/settings2.png);}
    50%{background-image: url(/assets/settings3.png);}
    100%{background-image: url(/assets/settings3.png);}
}


/* CONFIG SCREEN */

.out-line {
    text-shadow: 
    /*-y*/
    0 -0.1px black,
    0 -0.2px black,
    0 -0.3px black,
    0 -0.4px black,
    0 -0.5px black,
    /*+y*/
    0 0.1px black,
    0 0.2px black,
    0 0.3px black,
    0 0.4px black,
    0 0.5px black,
    /*-x*/
    -0.1px 0  black,
    -0.2px 0  black,
    -0.3px 0  black,
    -0.4px 0  black,
    -0.5px 0  black,
    /*+x*/
    0.1px  0 black,
    0.2px  0 black,
    0.3px  0 black,
    0.4px  0 black,
    0.5px  0 black,
    /*+x +y*/
    0.1px 0.1px black,
    0.2px 0.2px black,
    0.3px 0.3px black,
    0.4px 0.4px black,
    0.5px 0.5px black,
    /*-x -y*/
    -0.1px -0.1px black,
    -0.2px -0.2px black,
    -0.3px -0.3px black,
    -0.4px -0.4px black,
    -0.5px -0.5px black,
    /*-x +y*/
    -0.1px 0.1px black,
    -0.2px 0.2px black,
    -0.3px 0.3px black,
    -0.4px 0.4px black,
    -0.5px 0.5px black,
    /*+x -y*/
    0.1px -0.1px black,
    0.2px -0.2px black,
    0.3px -0.3px black,
    0.4px -0.4px black,
    0.5px -0.5px black;
}
.backBtn {
    position: absolute;
    background-color: rgb(0, 0, 150);
    top: -5%;
    left: -2%;
    color: white;
    transform: rotate(-90deg);
    font-size: 20px;
    border: 1px solid gray;
    border-radius: 100%;
    width: 48px;
    height: 48px;
    box-shadow: -3px 3px 0 .5px black, -2px 2px 0 .5px black, -1px 1px 0 .5px black;
    transition: 0.1s;
}
.backBtn:hover {
    background-color: rgb(42, 42, 255);
}
.backBtn:active {
    background-color: rgb(0, 0, 255);
    transform:translate(2.5px, 2.5px) rotate(-90deg);
    box-shadow: -0.5px 0.5px 0 .5px black;
}

.configDiv {
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
}
.configScreen {
    width: 756px;
    height: 350px;
    display: flex;
    background: -webkit-linear-gradient(bottom, rgb(0, 0, 0.5), rgba(0, 0, 0, 0.75));
    position: absolute;
    border-radius: 10px;
    border: 3px black solid;
}
.optionsDiv {
    background-color: rgba(58, 166, 255, 0);
    justify-content: center;
    align-items: center;
    align-self: center;
    display: flex;
    width: 100%;
}
.setDiffDiv {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 300px;
    display: flex;
    justify-content: center;
}
.spdBtn {
    border: none;
    width: 30px;
    height: 30px;
    background-color: white;
    font-size: 30px;
    position: relative;
}
.spdDisplay {
    color: lime;
    width: 200px;
    font-size: 30px;
}
.up {
    left: 14%;
}
.down {
    right: 10%;
}