body {
    margin: 0px;
}
.container {
    position: absolute;
}
.content {
    display: flex;
    align-items: center;
    justify-content: center;
}
.btnPlay {
    position: absolute;
}
.head {
    position: absolute;
    top: 0;
    width: 1024px;
    height: 10%;
}
.title {
    text-shadow: 0 0 0px -webkit-linear-gradient(right, #000000 50%, #0000ff);
    position: absolute;
    top: 10%;
    font-size: 30px;
    background: -webkit-linear-gradient(96deg, #ff0000 30%, #0000ff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
